################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedListProblem/bin/
/LinkedListProblem/obj/
/LinkedListProblem/.vs/
/.vs/
/facebook/FacenookProblem/.vs/
/facebook/FacenookProblem/Spiral/bin/
/facebook/FacenookProblem/Spiral/obj/
/SinglyLinkedList/obj
/SinglyLinkedList/bin
