################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedListProblem/bin/
/LinkedListProblem/obj/
/LinkedListProblem/.vs/
*/.vs/*
.vs/*
/facebook/FacenookProblem/.vs/
/Problems/*/bin/
/Problems/*/obj/
/SinglyLinkedList/obj
/SinglyLinkedList/bin
/Problems/ActivitySelectionProblem/bin/Debug/net6.0
/Problems/Practice.txt
